/* TODO: GOOGLE FONTS IS NOT AVAILABLE ATM. SO DO NOT FORGET INCLUDING THE RIGHT FONTS */

:root {
    /* primary */
    --Cyan: hsl(180, 66%, 49%);
    --Dark-Violet: hsl(257, 27%, 26%);

    /* Secondary */

    --Red: hsl(0, 87%, 67%);

    /* Neutral */

    --Gray:hsl(0, 0%, 75%);
    --Grayish-Violet: hsl(257, 7%, 63%);
    --Very-Dark-Blue: hsl(255, 11%, 22%);
    --Very-Dark-Violet: hsl(260, 8%, 14%);

    /* TYPOGRAPHY */

    --fw-bold: 700;
    --fw-regular: 500;
}

/* GENERAL | RESET */

* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
    color: var(--Gray);
}

h1,
h2,
h3,
h4,
p {
    margin: 0
}

img,
picture {
    max-width: 100%;
}

a {text-decoration: none}
ul, ol {list-style: none; margin: 0;}

input,
button {
    font: inherit;
}

body {
    font-size: 1.125rem;
    margin-top: 2rem;
}

/** UTILS */
 /* Define the space between elements and the viewport border */
.inline-flow { margin-inline: 2rem;}
.hidden {display: none;}


/** HEADER */

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.navbar {
    grid-column: span 2;
    background-color: var(--Dark-Violet);

    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 1rem;
    border-radius: 8px;
}

@media (max-width: 849px){
    .navbar.hidden {display: none; transition: 1200ms;}
}

.navbar ul {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.navbar li:hover {
    cursor: pointer;
}

.navbar a {
    color: white;
    font-weight: var(--fw-bold);
    font-size: 1.3rem;
}

.navbar ul:first-child {
    border-bottom: 1px solid var(--Gray);
}

.signup-link {
    background-color: var(--Cyan);
    padding: .8rem;
    border-radius: 15px;
    /* width: 100%; */
}

.menu-icon {
    width: 35px;
    aspect-ratio: 1;
    justify-self: end;
}

/* Active states */

.navbar a:hover {
    color: var(--Very-Dark-Violet);
}

#signup-link a:hover {
    color: white;
    opacity: .8;
}

.primary-button:hover {
    cursor: pointer;
    opacity: .8;
}

/* NAV BAR DESKTOP */

@media (min-width: 850px) {
    header {
        display: flex;
        align-items: center;
        gap: 3rem;
    }
    .menu-icon {display: none;}

    .navbar, .navbar ul {
        flex-direction: row;
        padding: 0;
        align-items: center;
        text-align: center;
    }
    .navbar {
        flex-grow: 1;
        justify-content: space-between;
        background-color: unset;
        padding: 0;
    }
    .navbar ul:first-child {
        border: none;
    }
    .navbar a {
        color: var(--Grayish-Violet);
        font-weight: var(--fw-bold);
        font-size: 1.3rem;
    }

    .signup-link {
        background-color: var(--Cyan);
        padding: .5rem 1rem;
        border-radius: 15px;
    }

    .signup-link a {color: white;}
}

/** HEADER END*/

/** HERO */

.hero {
    margin-top: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-bottom: 140px;
}

.title {
    font-size: 2.5rem;
    color: var(--Very-Dark-Blue);
    font-weight: var(--fw-bold);
}

.hero-image {
    order: -1;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    color: var(--Grayish-Violet);
}

.get-started-button {
    border: none;
    color: white;
    /* font-size: 1.125rem; */
    font-weight: var(--fw-bold);
    background-color: var(--Cyan);
    padding: .8rem 2rem;
    border-radius: 2rem;
}

@media (min-width: 680px) {
    .inline-flow {
        padding: 0 4rem;
    }

    .hero {
        margin-top: 80px;
    }

    .title {
        font-size: 4.5rem;
        color: var(--Very-Dark-Blue);
        font-weight: var(--fw-bold);
    }

    .hero-content {
        text-align: left;
        align-items: flex-start;
        font-size: 1.3rem;
    }

    .hero-image {
        max-width: 550px;
    }

}

@media (min-width: 1070px) {
    .hero {
        flex-direction: row;
        gap: 2.5rem;
    }

    .hero-image {
        order: unset
    }
}

/** MAIN SECTION */

/* Short link input */

main {
    margin-top: 80px;
    background-color:hsl(0deg 0% 94.49%);
}

.short-link-form {
    background-image: url('./images/bg-blue.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem ;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 8px;
    position: relative;
    top: -50px;
}

.short-link-input,
.short-link-form button {
    border: none;
    padding: 1rem;
    border-radius: 8px;
}

.short-link-form button {
    background-color: var(--Cyan);
    color: white;
    font-weight: var(--fw-bold);
}

.short-link-input.error-state {
    border: 1px solid var(--Red);
    box-shadow: 0 0 10px var(--Red);
}

.short-link-input.error-state::placeholder {
    color: var(--Red);
}

.short-link-form-error {
    display: none;
    color: var(--Red);
    /* font-size: .875rem; */
    font-weight: var(--fw-bold);
}

/* Advance statistics */

.advance-statistics {
    margin: auto;
    text-align: center;
    max-width: 550px;
}


.advance-statistics h3 {
    color: var(--Very-Dark-Violet);
    font-weight: var(--fw-bold);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.advance-statistics p {
    color: var(--Very-Dark-Blue);
}

.advance-statistics-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    color: var(--Very-Dark-Blue);
    margin-block: 80px;
}

@media(min-width: 1070px) {
    .advance-statistics-cards {
        flex-direction: row;
        align-items: stretchS;
    }
}

.advance-statistics-card {
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 450px;
    border-radius: 4px;
    padding-bottom: 2rem;
    padding-inline: 1rem;
    gap: 1rem;
}

.card-icon {
    position: relative;
    top: -30px;
    background-color: var(--Dark-Violet);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    aspect-ratio: 1;
}

@media(min-width: 680px) {
    .short-link-form {
        flex-direction: row;
        max-width: 680px;
        margin: auto;
    }

    .short-link-input {
        flex-grow: 1;
    }

    .short-link-form-error {
        order: 1;
        align-self: center;
    }
}

/* GET STARTED SECTION */

.get-started-section {
    text-align: center;
    padding: 5rem 0;
    background-image: url('./images/bg-blue.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.get-started-section h3 {
    color: white;
    font-weight: var(--fw-bold);
    font-size: 2rem;
    margin-bottom: 2rem;
}

/** FOOTER */

footer {
    background-color: var(--Very-Dark-Violet);
    text-align: center;
    padding-block: 2rem;
}

.footer-logo {
    color: white;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.footer-info {
    margin-bottom: 2rem;
    color: white;
}

.footer-info h3{
    font-size: 1.4rem;
    font-weight: var(--fw-bold);
    margin-bottom: 1rem;
}

.footer-info p {
    padding: 5px;
}

.footer-info p:hover {
    color: var(--Cyan);
    cursor: pointer;
}

.contact {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.contact img:hover {
    background-color: var(--Cyan);
    border-radius: 8px;
    cursor: pointer;
}

@media(min-width: 1070px) {
    footer .container {
        display: flex;
        align-items: start;
        gap: 3.5rem
    }

    .footer-logo {
        margin-right: 5rem;
    }
}